{
  "name": "awscost-to-slack",
  "description": "AWS Cost to Slack",
  "region": "ap-northeast-1",
  "runtime": "python3.6",
  "handler": "lambda_function.lambda_handler",
  "role": "arn:aws:iam::XXXXXXXXXX:role/awscost-to-slack",
  "requirements": ["requests"],
  "variables": {
    "slackChannel": "#channel",
    "slackPostURL": "https://hooks.slack.com/services/xxxxxxxxxxxxx"
  },
  "ignore": [
    "\\.gitignore$",
    "README\\.md$",
    "Dockerfile$",
    "docker-compose\\.yml$",
    "aws/config$",
    "aws/credentials$",
    "\\.git$",
    "/.*\\.pyc$"
  ],
  "timeout": 300,
  "memory": 128
}
